@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&display=swap');
@import url('./reset.css');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    margin: 0 auto;
    /* border: 1px solid red; */
    width: 1440px;
    padding-top: 15px;
    padding-left: 80px;
    padding-right: 80px;
    /* display: flex; */
}

.container-header {
    padding-right: 145px;
}

.container-buy {
    margin-top: 100px;
    padding: 0;
}


.header {
    display: flex;
    font-weight: 600;;
    font-size: 14px;
    line-height: 17px;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* display: inline-block; */
}

.nav-list {
    padding-left: 79px;
    display: flex;
    justify-content: space-between;
    column-gap: 29px;
    align-items: center;
    text-align: center;
}

.nav-list__item {
    color: #363739;
    /* list-style: none; */
}

.nav-list__phone {
    margin-left: auto;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;;
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
}

.one-page {
    position: relative;
    /* border: 1px solid red; */
    /* padding-top: 200px; */
    background: url('../img/img-1_page/back-img.jpg') right bottom no-repeat;
}

.one-page:before {
    background-color: #92ADC8;

    content: '';
    position: absolute; top: -16px; right: -145px;
    width: 493px;
    height: 732px;

    z-index: -1;
}

.one-page__wrapper {
    width: 521px;
    margin-top: 106px;
    color: #363739;
    z-index: 1;

}

.arrow-down {
    /* position: absolute; */
    position: relative;
    left: calc( 50% - 20px );
    bottom: -50px;
    /* display: flex;
    justify-content: center; */
    /* margin-left: auto; */
    margin-right: auto;
    
}

.title {
    font-weight: 800;;
    font-size: 37px;
    line-height: 1.24;
    text-transform: uppercase;
}

.subtitle {
    margin-top: 33px;
    font-weight: 400;;
    font-size: 21px;
    line-height: 1.24;
}

.picture-simple {
    margin-top: 74px;
    margin-bottom: 68px;
    display: flex;
    column-gap: 69px;
}

.btn {
    display: block;
    /* margin-top: 68px; */
    /* width: 300px; */
    height: 67px;
    max-width: 460px;

    padding-left: 49px;
    padding-right: 49px;

    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;

    background: linear-gradient(90deg, #0AADF0 3.63%, #BDB7FE 100%);
    box-shadow: 0px 4px 9px 2px rgba(89, 122, 173, 0.7);
    border-radius: 100px;
}

.btn:active {
    /* background: #ffe9e9; */
    transform: translate(0em, 0.1em);
}

.advantage {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 150px;

    font-weight: 400;
    font-size: 21px;
    line-height: 1.29;
    text-align: center;
    color: #363739;

    margin-left: 65px;
    margin-right: 65px;
}

.advantage img {
    margin-bottom: 10px;
}

.title_catalog {
    margin-top: 100px;
    margin-bottom: 43px;
    margin-left: 0;
    padding-left: 0;
    font-weight: 400;
    font-size: 37px;
    line-height: 1.24;

    /* text-align: center; */
    text-transform: uppercase;
    text-align: center;
    color: #363739;
}

.catalog .btn {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 auto;
}

.catalog__items {
    margin-top: 63px;
}

.catalog__items-long,
.catalog__items-small {
    display: flex;
    /* column-gap: 58px; */

    align-items: center;
    margin-bottom: 38px;

}

.catalog__items-small {
    column-gap: 56px;
}

.catalog__items-long h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 1.1;

    color: #363739;
    margin-bottom: 30px;
    margin-left: 82px;
}

.info {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.35;
    
    color: #000000;
    /* width: 360px; */
    border-left: 4px solid #92ADC8;
    /* border-left-width: 5px;
    border-left-color: #92ADC8; */
    margin-left: 50px;
    padding-left: 27px;
}

.small-cart {
    display: flex;
    align-items: center;
}

.catalog__items-small h3 {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.35;

    color: #363739;
    margin-bottom: 30px;
    margin-left: 58px;
}

.catalog__items-small .info {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    
    color: #000000;
    /* width: 360px; */
    border-left: 4px solid #92ADC8;
    /* border-left-width: 5px;
    border-left-color: #92ADC8; */
    margin-left: 29px;
    padding-left: 27px;
}

.buy {
    background: linear-gradient(86.8deg, #92ADC8 3.97%, #87A1BB 98.82%);
    padding: 47px 83px;
    text-align: center;
}

.buy__title {
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
/* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.buy__subtitle {
    margin-top: 32px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}

.leaveRequest {
    margin-top: 37px;
    display: flex;
}

.input {
    width: 426px;
    height: 70px;
    padding: 25px 27px;
    margin-right: 16px;

    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    
}

.input::placeholder {
    color: #7B7B7B;
}

.buy .btn {
    margin-left: 16px;
    width: 373px;
    height: 70px;
}

.buy p {
    margin-top: 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}

.advantages {
    margin: 113px 0px 93px 0px;
}

.advantages-cards {
    display: flex;
    flex-direction: row;
}

.advantages__title {
    margin-bottom: 77px;
    font-weight: 400;
    font-size: 37px;
    line-height: 1.24;

    text-align: center;
    text-transform: uppercase;

    color: #363739;
}

.advantages-card {
    width: 256px;
    height: 280px;
    border: 1px solid #D6D6D6;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.advantages__img {
    height: 136px;
    display: flex;
    align-items: center;
    /* margin-top: 39px;
    margin-bottom: 39px; */
}

.advantages-card__title {
    margin-bottom: 18px;

    font-weight: 600;
    font-size: 21px;
    line-height: 0.86;
/* identical to box height, or 86% */

    text-align: center;

    color: #363739;
}

.advantages-card__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    /* or 129% */

    text-align: center;

    color: #363739;
}

.slider {
    height: 313px;
}

.company-info {

}

.company-info__title {
    margin-bottom: 113px;

    font-weight: 400;
    font-size: 37px;
    line-height: 1.24;

    text-align: center;
    text-transform: uppercase;

    color: #363739;
}

.company-info__wrapper {
    display: flex;
    justify-content: space-between;
}

.company-info__description {
    /* width: 542px; */
    flex-basis: 42%;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.35;

    color: #363739;
}

.company-info__description p + p {
    margin-top: 20px;
}

.company-info__avi {
    /* width: 640px; */
    margin-left: 98px;
}

.wb {
    margin-top: 120px;
    display: flex;
    align-items: center;
    column-gap: 254px;
}

.wb__otzovi {

}

.wb__img {
    height: 127px;
    display: flex;
    column-gap: 33px;
}

.wb__img img {
    border-radius: 20px;
}

.zakaz {
    padding-top: 79px;
    min-height: 426px;
    background: url('../img/zakaz/bg.png'), rgba(255, 255, 255, 0.5) no-repeat;
    background-size: contain;

    backdrop-filter: blur(3.5px);
}

.zakaz__title {
    /* margin-top: 79px; */
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #363739;
}

.zakaz__subtitle {
    margin-bottom: 46px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #353535;
}